<body class="login" >
<div class="wrapper wrapper-login wrapper-login-full p-0">
  <div class="login-aside w-50 d-flex flex-column align-items-center justify-content-center text-center bg-secondary-gradient">
    <h1 class="title fw-bold text-white mb-3">Join Our Comunity</h1>
    <p class="subtitle text-white op-7">Ayo bergabung dengan komunitas kami untuk masa depan yang lebih baik</p>
  </div>
  
  <div class="login-aside w-50 d-flex align-items-center justify-content-center bg-white" >
  <div class="container container-login container-transparent animated fadeIn">
    
    <h3 class="text-center">Sign In To Admin</h3>
    <form #form='ngForm' (submit)="onSubmit(form)">
    <div class="login-form">
      <div class="form-group">
        <label for="username" class="placeholder"><b>Username</b></label>
        <input  name="UserName" type="text" 
                #UserName='ngModel' [(ngModel)]="formModel.UserName"
                class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password" class="placeholder"><b>Password</b></label>
        <a href="#" class="link float-right">Forget Password ?</a>
        <div class="position-relative">
          <input  name="password" type="password"
                  #Password='ngModel' [(ngModel)]="formModel.Password"
                  class="form-control" required #passwordRef>
          <div class="show-password" (click)="showPassword()">
            <i class="icon-eye"></i>
          </div>
        </div>
      </div>
      <div class="form-group form-action-d-flex mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="rememberme">
          <label class="custom-control-label m-0" for="rememberme">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-secondary w-100 fw-bold" [disabled]="form.invalid">Sign In</button>
        </div>
      
      <div class="login-account">
        <span class="msg">Don't have an account yet ?</span>
         <a [routerLink]="['/user/register']" class="link">Sign Up</a>
      </div>
    </div>
  </form>
  </div>
 </div>
</div>
</body>